- tasks.each do |task|
  .col-lg-12.buffer-bottom
    %div{:class => "border #{task.status == 'complete' ? 'border-success' : 'border-warning'}"}
      .card
        .card-body.buffer-left.buffer-right
          %h3.card-title= task.title
          %p.card-text= task.description
          %p.card-text
            Started: #{task.started_at.to_formatted_s(:short) if task.started_at.present?}
          %p.card-text
            Finished: #{task.finished_at.to_formatted_s(:short) if task.finished_at.present?}
            - binding.pry
        - if task.user == current_user
          = button_to('complete', complete_task_path(task),
            method: :put,
            class: 'btn btn-primary') if task.status == 'in_work'
          = button_to('Take', take_task_path(task),
            method: :put,
            class: 'btn btn-primary') if task.status == 'untaken'
          = link_to task_path(task), method: :delete do
            %i.fa.fa-trash
          = link_to edit_task_path(task) do
            %i.fa.fa-edit
