.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    - if current_user
      = link_to 'SimpleTaskManager', authenticated_root_path, class: ['navbar-brand']
    - else
      = link_to 'SimpleTaskManager', unauthenticated_root_path, class: ['navbar-brand']
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Create task', new_task_path if user_signed_in?
        %li= link_to 'Edit profile', edit_user_path(@user) if current_user == @user
        %li= link_to 'Logout', destroy_user_session_path, method: :delete if user_signed_in?
